<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kavit.pelicula1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/baymax6"
        android:label="BAYMAX"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="BAYMAX"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rate"
                  android:label="Pelicula1"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Pelicula1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity1"
            android:label="Pelicula1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".sort"
            android:label="Pelicula1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".about"
            android:label="Pelicula1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>